[data-reach-dialog-content] {
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 3px;
}

.conflict {
  display: flex;
  flex-direction: column;
}

.conflict-content {
  flex: 1;
}

.conflict-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
