.date-input {
  width: 100%;
}

.date-input > .input {
  border: 1px solid rgb(169, 169, 169);
  width: 100%;
  padding: 0px;
}

.date-input > .input-invalid {
  border: 1px solid #ffc9c9;
  background-color: #ffd7d7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  outline-offset: 0px;
  -webkit-appearance: textfield;
}

.date-input > .input-invalid:focus {
  border-color: #f73f32;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 2px #ce8483;
  outline: 0;
}

.date-input-help {
  color: #f73f32;
}
