[data-reach-dialog-content] {
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 3px;
}

.issues-dialog {
  display: flex;
  flex-direction: column;
}

.issues-lead {
  font-size: 16px;
}

.issues-content {
  flex: 1;
}

.issues-content > ul {
  padding-left: 20px;
  list-style-position: outside;
}

.issues-content > ul > li {
  padding-bottom: 12px;
}

.issues-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
