.multivalued {
  display: flex;
  flex-direction: column;
}

.multivalued-options {
  flex: 1;
  display: flex;
  padding-bottom: 6px;
}

.multivalued-options-title {
  flex: 1;
  margin-right: 16px;
}

.multivalued-option-incompatible {
  color: #aaa;
}

multivalued-option > input[type='radio'] {
  margin-top: -1px;
  vertical-align: middle;
}

.multivalued-option {
  margin-left: 6px;
}
