.section-header {
  margin: 10px 0 6px 0;
  font-weight: 600;
}

.section-header-level1 {
  font-size: 18px;
}

.section-header-level2 {
  font-size: 16px;
}

.section-header-level2 {
  font-size: 16px;
  font-weight: normal;
}
