.button {
  display: inline-block;
  vertical-align: middle;
  padding: 0 30px;
  border: none;
  border-radius: 2px;
  transition: background-color 200ms ease 0s, color 200ms ease 0s;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  line-height: 36px;
}

.button:disabled,
.button.disabled {
  opacity: 0.4;
  cursor: default;
}
.button.disabled {
  pointer-events: none;
  cursor: default;
}

.button-normal {
  background-color: rgb(2, 34, 90);
  color: white;
}
.button-normal:focus:enabled {
  background-color: rgb(1, 15, 40);
}
.button-normal:hover:enabled {
  background-color: rgb(1, 25, 65);
}
.button-normal:active:enabled {
  background-color: rgb(1, 19, 50);
}

.button-link {
  background: none;
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: underline;
  font-size: 12px;
  color: rgb(2, 34, 90);
}
