.tabs {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #02225a;
}

.tabs-tab:first-child {
  margin-left: 10px;
}

.tabs-tab {
  padding: 5px;
  min-width: 100px;
  border: 1px solid white;
  border-bottom: 1px solid #02225a;
  cursor: pointer;
  background-color: white;
  margin-bottom: -1px;
  margin-left: 1px;
  border-radius: 2px 2px 0 0;
  transition: background-color 200ms ease 0s, color 200ms ease 0s;
}
.tabs-tab:focus,
.tabs-tab:active {
  outline: none;
}

.tabs-tab:hover {
  background-color: rgb(245, 245, 245);
}

.tabs-tab-active {
  border-bottom-color: white;
}

.tab-content {
  padding: 12px 16px;
  background-color: white;
  flex: 1;
  overflow: auto;
  border-radius: 2px;
}
