.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}

.toolbar-button {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: flex;
  transition: background-color 200ms ease 0s, color 200ms ease 0s;
}

.toolbar-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.toolbar-button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
