.topnav {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  color: white;
}

.topnav a,
.topnav a:link,
.topnav a:visited,
.topnav a:active,
.topnav a:hover {
  color: white;
}

.topnav-home-link {
  margin-left: 12px;
  text-decoration: none;
  display: inline-block;
  flex: 1;
}

.topnav-avatar {
  margin-right: 12px;
}

.topnav-avatar-img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
