html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(31, 71, 120);
}
input,
button,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font: inherit;
  margin: 0;
}

::placeholder {
  font-size: 13px;
  color: rgba(2, 34, 90, 0.4);
}

a:link,
a:visited,
a:active,
a:hover {
  color: #02225a;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, 0.65);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(200, 200, 200, 0.75);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(200, 200, 200, 0.8);
}

::-webkit-scrollbar-thumb:vertical {
  min-height: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  min-width: 10px;
}
